<div class="container">
	<form class="form">
		<h3>Añadir Productos</h3>
		<mat-form-field class="example-full-width" appearance="standard">
			<mat-label>Nombre</mat-label>
			<input matInput type="text">
		</mat-form-field>
		
		<mat-form-field class="example-full-width" appearance="standard">
			<mat-label>Precio</mat-label>
			<input matInput>
		</mat-form-field>

		<mat-form-field class="example-full-width" appearance="standard">
			<mat-label>Categoria</mat-label>
			<input matInput placeholder="Ex. pat@example.com">
		</mat-form-field>

		<mat-form-field appearance="standard">
			<mat-label>Contraseña</mat-label>
			<input matInput type="text">
		</mat-form-field>

		<mat-form-field class="example-full-width" appearance="standard">
			<mat-label>Codigo:</mat-label>
			<input type="text" matInput placeholder="ITEM-00000000N" minlength="9">
		</mat-form-field>
		<button mat-raised-button color="primary">Agregar</button>
	</form>
</div>
