.conatiner {
	width: 100%;
}

.form {
	display: grid;
	grid-template-columns: 100%;
	gap: 5px;
	width: 23rem;
	padding: 1.5rem;
	margin: 0 auto;
	background: transparent;
	backdrop-filter: blur(20px);
	box-shadow: 0 8px 22px 0 rgba(0, 0, 0, 0.37);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 32px;
	text-align: center;
}