<h3 class="title">Productos</h3>
<div class="card">
	<div class="productCard" *ngFor="let p of products">
		<img src="../../../assets/img/headset.webp" alt="headset">
		<p class="productTitle">
			{{p.name | titlecase}}
		</p>
		<p>
			Codigo: {{p.code}}
		</p>
		<p *ngIf="p.enable">
			Disponible: Sí
		</p>
		<p *ngIf="!p.enable">
			Disponible: No
		</p>
		<p>
			Precio <span class="price">${{p.price}}</span>
		</p>
		<p>
			Categoria: {{p.category.name}}
		</p>
		<button mat-raised-button color="primary" (click)="addProduct(p.id)">Añadir al carrito</button>
	</div>
</div>