.title {
	font-weight: bold;
	text-align: center;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
}
 .card {
	padding: 0px 5px;
	button {
		width: 80%;
	}
 }
 .comprar {
	display: flex;
	justify-content: center;
	margin: auto;
 }

 .paypal {
	display: flex;
	justify-content: center;
	margin: 10px auto;
 }